body {
    background-color: #bce8ab;
}
.container {
    display: grid;
    grid-template-columns: 200px auto;
}
.menu {
    display: flex;
    flex-direction: column;
}
.todo-menu {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.form-input, .info {
    margin: 5px;
    padding: 10px;
    resize: none;
}

.todo-menu button {
    padding: 10px;
    margin: 5px;
}
.about {
    margin-top: 20px;
    padding: 20px;
    max-width: 200px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
}
.products {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    text-decoration: none;
    background-color: #83e15e;
    width: 200px;
    border: 1px  solid #83e15e;
    box-shadow: 10px 5px 5px grey;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.product .title {
     font-size: 26px;
    margin-bottom: 10px ;
}
.product .description  {
     font-size: 20px;
    margin-bottom: 10px ;
}
.product .price  {
     font-size: 30px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}