TODO КАРТОЧКИ
<div class="container">
  <div class="left-block">
    <div class="menu">
      <a href="/#">INDEX</a>
      <a href="/#/about">ABOUT</a>
      <a href="/#/contact">CONTACT</a>
    </div>
    <div class="todo-menu">
      <h3>ToDo карточки:</h3>
        <input type="text" class="form-input" id="title" placeholder="когда сделать" required>
        <input type="text" class="form-input" id="description" placeholder="что сделать" required>
      <button id="add-card">Добавить карточку</button>
    </div>
  </div>
  <div class="right-block">
    <div class="products" id="products">

    </div>
  </div>
</div>




